- provide :title, 'Check your email inbox'

.bg-blur= render 'shared/background_image'

%hgroup.content-center.check-email-content
  %h1.bi.bi-envelope-heart
  %h2 You're almost there!
  %p
    A message with a confirmation link has been sent to <b>#{confirmation_email}</b>.
    Please follow the link to activate your account.

  = form_for(resource, as: resource_name, html: { method: :post },
                       url: confirmation_path(resource_name)) do |f|
    = f.hidden_field :email, value: cookies.encrypted[:unconfirmed_email]

    = render 'shared/flashes'

    - if cookies.encrypted[:unconfirmed_email].present?
      = f.submit 'Resend confirmation email', class: 'btn btn-light'
    - else
      %b.error-feedback
        This form is expired, please
        = link_to 'log in', new_session_path(resource_name), class: 'link-light'
        to proceed.
