- provide :title, 'Join Galliora'

.bg-blur= render 'shared/background_image'

.content-center.auth-form
  %h1 Join Galliora

  = form_for(resource, as: resource_name, url: registration_path(resource_name),
                       data: { controller: 'form-validation',
                               action: 'form-validation#submitRegistrationForm' }) do |f|
    .form-floating#username_form
      = f.text_field :username, autofocus: true, autocomplete: 'username', class: 'form-control',
                                placeholder: 'Username',
                                data: { 'bs-toggle': 'tooltip',
                                        'bs-placement': 'right',
                                        'bs-title': I18n.t('user.tooltips.username'),
                                        controller: 'form-validation',
                                        action: 'blur->form-validation#validateUsername' }
      = f.label :username
    = render 'devise/shared/error_messages', resource:, field: :username

    .form-floating#email_form
      = f.text_field :email, autocomplete: 'email', class: 'form-control', placeholder: 'Email',
                             data: { controller: 'form-validation',
                                     action: 'blur->form-validation#validateEmail' }
      = f.label :email
    = render 'devise/shared/error_messages', resource:, field: :email

    .input-group.has-validation
      .form-floating#password_form
        = f.password_field :password, autocomplete: 'new-password', class: 'form-control',
                                      placeholder: 'Password',
                                      data: { 'bs-toggle': 'tooltip',
                                              'bs-placement': 'right',
                                              'bs-title': I18n.t('user.tooltips.password'),
                                              controller: 'form-validation',
                                              action: 'blur->form-validation#validatePassword' }
        = f.label :password
        %span.password-toggle
          %i.bi.bi-eye{ 'data-controller': 'password',
                        'data-password-target': 'visibilityIcon',
                        'data-action': 'click->password#switchVisibility' }
      = render 'devise/shared/error_messages', resource:, field: :password

    = f.submit 'SIGN UP', class: 'btn btn-light'

  %hr
  Already have an account?
  = link_to 'Log in', new_session_path(resource_name), class: 'link-light'
