%div.carousel.slide{"data-bs-ride": "carousel"}
  %div.carousel-inner
    %div.carousel-item.active.item1
      %p.item-author
        Image by 
        = link_to '12138562O from Pixabay', 'https://pixabay.com/users/12138562o-12138562/', class: 'item-link', target: '_blank'
    %div.carousel-item.item2
      %p.item-author
        Image by 
        = link_to 'Yves from Pixabay', 'https://pixabay.com/users/ykaiavu-7068951/', class: 'item-link', target: '_blank'
    %div.carousel-item.item3
      %p.item-author
        Image by
        = link_to 'Andy Bay from Pixabay', 'https://pixabay.com/users/andy_bay-1006510/', class: 'item-link', target: '_blank'
    %div.carousel-item.item4
      %p.item-author
        Image by
        = link_to '298246O35 from Pixabay', 'https://pixabay.com/users/298246o35-29824635/', class: 'item-link', target: '_blank'
    %div.carousel-item.item5
      %p.item-author
        Image by
        = link_to 'Gosia K. from Pixabay', 'https://pixabay.com/users/gosiak1980-2374509/', class: 'item-link', target: '_blank'
    %div.carousel-item.item6
      %p.item-author
        Image by
        = link_to 'yoshitaka2 from Pixabay', 'https://pixabay.com/users/yoshitaka2-24545143/', class: 'item-link', target: '_blank'
  %div.overlay
  %hgroup.carousel-main
    %h1 Welcome to Galliora!
    %h3 A place where you can share your wonderful pictures with the world
    = link_to 'Explore', root_path, class: 'btn btn-light btn-lg btn-custom'