!!!
%html
  %head
    %title= page_title(yield(:title))

    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type' }/
    %meta{ content: 'width=device-width,initial-scale=1', name: 'viewport' }/
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag 'application', 'data-turbo-track': 'reload'
    = javascript_importmap_tags
    :javascript
      window.I18n = #{t('activerecord.errors.models.user.attributes').to_json.html_safe}

  %body
    = yield
